* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.App.cold-day {
  background-image: url('./assets/cold-day.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.cold-night {
  background-image: url('./assets/cold-night.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.rain {
  background-image: url('./assets/rain.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.snow {
  background-image: url('./assets/snow.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.haze {
  background-image: url('./assets/haze.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.warm-day {
  background-image: url('./assets/warm-day.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.warm-night {
  background-image: url('./assets/warm-night.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
  padding: 15px 0px 0px 0px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px 15px 15px 15px;
  margin-top: -25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, .75)
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow:rgba(50, 50, 70, .7);
  padding: 8px;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 100px;
  font-weight: 775;
  text-shadow: 3px 6px rgba(50, 50, 70, .2);
  text-align: center;
  box-shadow: 3px 5px rgba(0, 0, 0, .15);

}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, .5);
}